.Card {
  display: flex;
  width: 17rem;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
}
.CardInfo {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 1rem;
}
.CardInfo1 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.CardInfo2 {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
img {
  width: 100%;
}
